# baza de date
DB_USER=campushub
DB_NAME=campushub
# openssl rand -base64 24
DB_PASSWORD=


SESSION_SECRET=

# autentificare instituțională
# din App registration, aceleași valori ca pe calculatorul de dezvoltare
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=

# tunel
TUNNEL_TOKEN=

# conturile de prezentare
DEMO_ADMIN_PASSWORD=
DEMO_STUDENT_PASSWORD=

SEED_ALLOW_PROD=no
